{{- $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" -}}
{{- $pages := where .Site.RegularPages "Type" "=" .Type  }}
{{- $pages_by_letters := dict -}}
{{ range $pages }}
  {{- $page := . -}}
  {{- $first_letter := upper ( substr $page.Name 0 1 ) -}}
  {{- if not (in $letters $first_letter) }}
    {{ $first_letter = "#" }}
  {{ end }}
  {{- $new_list := slice -}}
  {{ with index $pages_by_letters $first_letter }}
    {{- $new_list = . | append $page -}}
  {{ else }}
    {{- $new_list = slice $page -}}
  {{ end }}
  {{- $pages_by_letters = merge $pages_by_letters (dict $first_letter $new_list) -}}
{{ end }}


{{- if $pages_by_letters }}
<div class="widget-recent widget">
	<h4 class="widget__title"> Index </h4>
	<div class="widget__content">
		<ul class="widget__list">
			{{ range $key, $items := $pages_by_letters }}
			<span class="widget__alphas_subtitle"> {{$key}} </span>
				{{- range $items -}}
					<li class="widget__alphas_item">
						<a class="widget-taglist__link widget__link btn" href="{{ .RelPermalink }}" title="{{ .Title }}">
							{{- .Title -}}
						</a>

					</li>
				{{- end -}}
			{{- end }}
		</ul>
	</div>
</div>
{{- end }}

