

<!-- Get all categories for a given type of pages -->
{{ $all_categories := slice }}
{{ range where .Site.RegularPages "Type" "=" .Type}}
	{{ if isset .Params "categories"}}
		{{ $all_categories = $all_categories | append .Params.categories }}
	{{ end }}
{{ end }}

<!-- Get a unique list of categories -->
{{ $categories := $all_categories | uniq }}


{{- if gt (len $categories) 0 }}
<div class="widget-categories widget">
	<h4 class="widget__title"> Categories </h4>
	<div class="widget__content">
		<ul class="widget__list">
		{{- range $category := $categories }}

			<!-- For each category, get a count for that category, then print out the category and the count -->
			{{ $.Scratch.Set "counter" 0 }}
			{{ range $count_it := $all_categories }}
				{{ if eq $category $count_it}}
					{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
				{{ end }}
			{{ end }}

			{{- with $.Site.GetPage (printf "/categories/%s" $category) }}
			<li class="widget__item">
				<a class="widget__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
				&nbsp;
				<span class="widget__counter widget__counter--bubble"> ({{ $.Scratch.Get "counter" }})</span>
				{{ end -}}
			</li>
			{{- end }}
		{{- end }}
		</ul>
	</div>
</div>
