
<!-- Get all tags for a given type of pages -->
{{ $all_tags := slice }}
{{ range where .Site.RegularPages "Type" "=" .Type}}
	{{ if isset .Params "tags"}}	
		{{ $all_tags = $all_tags | append .Params.tags }}
	{{ end }}
{{ end }}

<!-- Get a unique list of tags -->
{{ $tags := $all_tags | uniq }}

{{- if gt (len $tags) 0 }}
<div class="widget-taglist widget">
	<h4 class="widget__title"> Tags </h4>
	<div class="widget__content">
		
		{{- range $tag :=  $tags }}

			<!-- For each tag, get a count for that tag, then print out the tag and the count -->
			{{ $.Scratch.Set "counter" 0 }}
			{{ range $count_it := $all_tags }}
				{{ if eq $tag $count_it}}
					{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
				{{ end }}
			{{ end }}

			{{- with $.Site.GetPage (printf "/tags/%s" . ) }}
			<a class="widget-taglist__link widget__link btn" href="{{ .RelPermalink }}" title="{{ .Title }}">
				{{- .Title -}}  ({{ $.Scratch.Get "counter" }})
			</a>
		{{- end }}
	{{- end }}
	</div>
</div>
{{- end }}