{{ define "main" }}<div class="home">
 
   {{- with .Title }}
	  <header class="main__header">
	    <h1 class="main__title">{{ . }}</h1>
	  </header>
	 {{- end }}
   
	 {{- with .Content }}
	  <div class="content main__content clearfix">
		  {{ . }}
	  </div>
	 {{- end }}

    <div class="row pack">

        {{ $paginator := .Paginate (where .Site.RegularPages "Section" "projects") }}
        {{ range $paginator.Pages }}   
            <div class="col-md-3 card" style="margin:.2em">
             <a href="{{ .Params.external_url | default .Permalink }}" class="index-anchor" target="{{cond (isset .Params "external_url") "_blank" "_self" }}">    
                <div class="panel panel-default">
                
                  <div class="panel-body">
                    <h3 class="panel-title pull-left">{{ .Title | truncate 25 }}</h3>
                    
                    {{ if .Params.date }}
					            <span class="post-meta pull-right neon-teal"><small>{{ .Date.Format "January 2, 2006" }}</small></span>
                    {{ end }}
                  
                  </div>
                  
				  {{ if .Params.img }}
                  {{ with .Resources.Match .Params.img }}
                    {{ range . }}
                      <img width="100%" src="{{ .RelPermalink }}" alt="{{ .Title }}">
                    {{ end }}
                  {{ end }}
                  {{ else }}
                		<!-- Nothing  -->
                  {{ end }}
                  <div class="panel-body"><small>
                    {{ .Summary | plainify | truncate 300 }}</small>
                  </div>
                </div>
                </a>
            </div>
        
          {{ end }}

    </div> 
    

</div>
{{ partial "pagination.html" . }}
{{ end }}


