{{ define "main" }}
<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title"> <div class="neon-gold">{{ .Title }} </div></h1>
			{{ with partial "post_meta.html" . -}}
			<div class="post__meta meta">{{ . }}</div>
			{{- end }}
			
		</header>
		
		
		<table>
			{{ with .Params.Serving_Size }} <tr><td> Serving Size: </td><td> {{ . }}  </td></tr> {{ end }}
			{{ with .Params.Servings }} <tr><td> Servings: </td><td> {{ . }}  </td></tr> {{ end }}
			{{ with .Params.Prep_time }}<tr><td> Prep Time: </td><td> {{ . }}  </td></tr> {{ end }}
			{{ with .Params.Cook_time }}<tr><td> Cook Time: </td><td> {{ . }}  </td></tr> {{ end }}
		</table>

		{{ with .Params.Macros}}

		<h6> Macros : </h6>
		<table>
			<tr><th>Amount</th><th>Macro</th></tr>
			{{ range . }}
			<tr><td> {{ index . 0 }} </td><td> {{ index . 1 }}  </td></tr> 
			{{ end }}	
		</table>
		{{ end }}

		<h6> Ingredients:</h6>
		<table>
			<tr><th>Amount</th> <th>Ingredient</th></tr>
			{{ range  .Params.Ingredients }}
			<tr><td> {{ index . 0 }} </td><td> {{ index . 1 }}  </td></tr> 
			{{ end }}	
		</table>
		

		<div class="content post__content clearfix">
			{{ .Content }}
		</div>
	</article>
</main>
{{ partial "pager.html" . }}
{{ end }}