<article class="list__item post">

	<header class="list__header">
		<h2 class="list__title post__title">
			<a href="{{ .RelPermalink }}" target="_self" rel="bookmark">
			{{ .Title }}
			</a>
		</h2>
		{{- with .Params.lead }}
		<p class="list__lead post__lead">{{ . }}</p>
		{{- end }}
		
		<div class="list__meta meta">{{ with partial "post_meta/tags.html" . -}}{{ . }}{{- end }}
			| Servings :  {{.Params.Servings}}
			| Prep Time : {{.Params.Prep_time}}
			| Cook Time : {{.Params.Cook_time}}
			
		</div>
		
		
		
	</header>
	<div class="content list__excerpt post__content clearfix">
		{{ .Params.Description }}
	</div>
	{{- if .Site.Params.readmore }}
	{{- if .Truncated }}
	<div class="list__footer clearfix">
		<!-- <a class="list__footer-readmore btn" href="{{ .RelPermalink }}">{{ T "read_more" }}</a> -->
	</div>
	{{- end }}
	{{- end }}
</article>