
/* Footer */
.footer {
	
	display: inline-flex;
	color: #fff951;
    text-shadow:
      0 0 10px #f3bd1d,
      0 0 20px #f3bd1d,
      0 0 40px #f3bd1d;
	background: transparent;
	position: relative;
	bottom: 0;
	text-align: center;
	width: 100%;
	padding: 0%;
}


.footer__container {
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;

	
}