
.neon-pink {
    color: #fc28a8;
    text-shadow:
      0 0 10px #fc28a8,
      0 0 20px #fc28a8,
      0 0 40px #fc28a8,
      0 0 80px #fc28a8,
  }
  
  .neon-teal {
    color: #36f9f6;
    text-shadow:
      0 0 5px #36f9f6,
      0 0 10px #36f9f6,
      0 0 20px #36f9f6,
      0 0 40px #36f9f6,
      0 0 80px #36f9f6,
  }
  
   .neon-gold {
    color: #fff951;
    text-shadow:
      0 0 10px #f3bd1d,
      0 0 20px #f3bd1d,
      0 0 40px #f3bd1d,
      0 0 80px #f3bd1d,
   }

   .neon-gold:hover{
    color: #fff951;
    text-shadow: 
      0 0 10px #f3bd1d,
      0 0 20px #f3bd1d,
      0 0 40px #f3bd1d,
      0 0 80px #fff951,
   }

   