@import 'foundation/neon.scss';
@import 'foundation/_footer.scss';

html, body {
    height: 100%;
  }
  
body {
  font-family: "Courier New", monospace;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url("../img/bg.png");
  background-size: cover;
  flex-wrap: wrap;
  position: relative;
  background-position: center center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover; 
}


a{
  font-weight: bolder;
  font-style: italic;
  text-decoration: none;
  color: #ff00f2;  
  opacity: 1.0; 
  text-shadow: 
    0 0 10px rgb(255, 0, 221);
}


a:hover{
  font-weight: bolder;
  font-style: italic;
  cursor: crosshair;
  text-decoration: none;
  color: #ff00f2;
  opacity: 0.9;
  text-shadow: 
    0 0 10px rgb(255, 0, 221), 
    0 0 30px #ff00f2,
}
  

h1{
  font-size: 5em;
  font-style: italic;
}
h1:hover{
  color: #fff951;
  text-shadow: 
    0 0 10px #fff,
    0 0 20px #ffd966,
    0 0 40px #fff951,
    0 0 80px #f3bd1d,
    0 0 90px #fff951,
    0 0 100px #f3bd1d,
    0 0 150px #f3bd1d;
}


i.fas, i.fab {
  color: #ff00f2;
  opacity: 0.9; 
  text-shadow: 
    0 0 10px rgb(255, 0, 221);
}


i.fas:hover, i.fab:hover {
  color: #ff00f2;
  opacity: 0.9;
  text-shadow: 
    0 0 10px rgb(255, 0, 221), 
    0 0 30px #ff00f2,
}


.card-columns{
  column-count: 2;
}



