<!DOCTYPE html>
{{ $index_styles := resources.Get "scss/index.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
{{ $non_index_styles := resources.Get "scss/non_index.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }}">
        
        

        <link rel="canonical" href="{{ .Permalink }}" />

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">      
        
        {{ if or (.IsHome) (eq .Kind "404") }}
            <link rel="stylesheet" href="{{ $index_styles.Permalink }}" media="screen">
        {{ else }}
            <link rel="stylesheet" href="{{ $non_index_styles.Permalink }}" media="screen">
        {{ end }}

        {{- if not .Site.IsServer }}
		    {{- if hasPrefix .Site.GoogleAnalytics "G-" }}
		        {{ template "_internal/google_analytics.html" . }}
		    {{- else }}
		        {{ template "_internal/google_analytics.html" . }}
		    {{- end }}
	    {{- end }}

        {{- if .Site.Params.twitter_cards }}
		    {{ template "_internal/twitter_cards.html" . }}
	    {{- end }}
        
        
        <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
    </head>

    <body>

        {{ if or (.IsHome) (eq .Kind "404") }}
        <main role="main" class="container text-center">
            {{- block "main" . }}{{- end }}
        </main>
        {{ else }}
        <div class="container container--outer">
            {{ partial "header" . }}
            <div class="wrapper flex">
                <div class="primary">
                {{ block "main" . }}
                    {{ with .Content }}
                    <div class="content main__content clearfix">
                        {{ . }}
                    </div>
                    {{ end }}
                {{ end }}
                </div>
                {{ partial "sidebar.html" . }}
            </div>
        {{end}}

		
    </body>
    {{ partial "footer" . }}
<script async defer src="{{ "js/menu.js" | relURL }}"></script>
</html>
