{{ define "main" }}
<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
		</header>
		<div class="content post__content clearfix">
			{{ .Content }}
		</div>
	</article>
</main>

{{ end }}