<footer class="footer">
	<div class="container footer__container">
		<div class="footer__copyright">
			
		
			{{ range .Site.Params.social }}
				<a href="{{ .url }}" class="btn" target="_blank">
					<i class="fa-2x {{ string .icon}}"></i>
					<p style="font-size: 8pt;" class="neon-gold">{{ .title }}</p>
				</a>				
			{{ end }} 
		<br>
		<span style="font-size: 5pt;">&copy; {{ now.Format "2006" }} {{ .Site.Params.copyright | default .Site.Title }}.</span>
			
		</div>
	</div>
</footer>