{{- $logoEmoji := .Site.Params.logo.emoji -}}
{{- $logoTitle := .Site.Params.logo.title | default .Site.Title -}}
{{- $logoSubtitle := .Site.Params.logo.subtitle | default .Site.Params.subtitle -}}



{{- if or $logoTitle }}
	{{/* Defined when logo is mixed (image + text) */}}
	{{- $logoMix :=  $logoTitle -}}

	<div class="logo{{ with $logoMix }} logo--mixed{{ end }}">
		<a class="logo__link" href="..">
				<div class="logo__emoji">
					{{ with $logoEmoji }} {{ . }}{{ end }}
				</div>
			{{ with $logoTitle -}}
				<div class="logo__item logo__text">
					<div class="logo__title">{{ . }}</div>
					{{ with $logoSubtitle }}<div class="logo__tagline">{{ . }}</div>{{ end }}
				</div>
			{{- end }}
		</a>
	</div>
{{- end }}