{{- if .Params.tags }}
<div class="post__tags tags clearfix">
	<ul class="tags__list">
		{{- range .Params.tags }}
		<li class="tags__item">
			<a class="tags__link btn" href="{{ "tags/" | relLangURL }}{{ . | urlize }}/" rel="tag">
				{{- . -}}
			</a>
		</li>
		{{- end }}
	</ul>
</div>
{{- end }}