{{ define "main" }}
<main class="main" role="main">
    <div class="content">        
    <a class="neon-gold" href="/"> 
        <h1>(╯°□°)╯︵┻━┻</h1> 
    </a>
    <img src="../img/404.gif">
</div>
</main>
{{ end }}