

{{ define "main" }}
    <div class="content">
        <h1 class="neon-gold">
            {{ with .Site.Params.logo.emoji }} {{ . }} {{ end }}
        </h1>
        <div id="iconList" class="card-columns mt-10">
            {{- $landing_page := .Site.Params.landing_icons }}
            {{- with $landing_page -}}
                {{- range $icon := . }}
                <div id="iconListEntry">
                    <div class="card-body cursorPointer">
                        <p class="card-text"><a href={{ string .url }} target="_self" class="iconLink"><i class="fa-4x {{ string .icon}}"></i></a></p>
                        <p class="card-text"><a href={{ string .url }} target="_self" class="iconLink">{{ .name }}</a></p>
                    </div>
                </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
{{ end }}

